<ion-pane>  
	<ion-header-bar class="bar-stable" ng-controller="bookingCtrl">
	<button onclick="callDetails()" class="button icon-left ion-chevron-left button-clear button-dark"></button>
	<h1 class="title">Booking</h1>
	</ion-header-bar>
      <ion-content>
     
      	<div> <br><hr><br><br><br><br>
	   		<input type="image" class="bookImage"src="/templates/ionic.png" />
    	</div>
    	<p><a href="" class="button button-block button-balanced" onclick="validateLogin()">Confirm Booking</a></p>
      </ion-content>
</ion-pane>