<ion-nav-view view-title="Booking" class="background">
<style type="text/css">
    .a{
        list-style: none outside none;
        position: absolute;   
    } 
</style>
	<ion-header-bar class="bar-stable" ng-controller="bookingCtrl">
	<button onclick="callDetails()" class="button icon-left ion-chevron-left button-clear button-dark"></button>
	<h1 class="title">Booking</h1>
	</ion-header-bar>
      <ion-content>
     <br><br>
     <div class="row">
     <div class="col-75" style="float:center">
     <br>
     	<h3 align="right" style="color:#FFFFFF;"> {{bookingDetails.location}}</h3>
          </div>
        <div class="col-10 notification-container"> 
        <br>
     		<img src="/img/selecting.png" align="" ng-click="getHallDetails()">
            <span class="notification-counter" id="testId">{{seat.count}}</span>
        </div>
        <br> 
      
     </div>
  
    <div class="row"> 
        <div class="col"> 
            <div class="holder">
            <div>
            <h1></h1>
            </div>
           <!--  <a ng-click="increment()">Increment</a> -->
            <table id="tab" style="width:95%">
              <tr>
                <td class="cellWidth"><a class="a" title="1" style="margin-top:0px;">1</a><img src="/img/selectedSeats.png" id="image1" onclick="diffImage(this)" /></td>
                <td class="cellWidth"><a class="a"title="2">2</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>       
                <td class="cellWidth"><a class="a" title="3">3</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>
                <td class="cellWidth"><a class="a" title="4" >4</a><img src="/img/selectedSeats.png" id="image1" onclick="diffImage(this)" /></td>
                <td class="cellWidth"><a class="a" title="5">5</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>   
                <td class="cellWidth"><a class="a" title="6">6</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>   
                <td class="cellWidth"><a class="a" title="7">7</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>   
                  </tr>
                  <tr>
                  <td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td>
                  <td class="cellWidth"><a class="a" title="8">8</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>
                  </tr>
                  <tr>
                  <td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td>
                  <td class="cellWidth"><a class="a" title="9">9</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>
                  </tr><tr>
                  <td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td>
                  <td class="cellWidth"><a class="a" title="10">10</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>
                  </tr>
                  <tr>
                  <td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td>
                  <td class="cellWidth"><a class="a" title="11">11</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>
                  </tr>
                   <tr>
                  <td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td><td class="cellWidth"></td>
                  <td class="cellWidth"><a class="a" title="12">12</a><img src="/img/unselectedSeat.png" id="image1" onclick="diffImage(this)" /></td>
                  </tr>
                </table>
                </div>
        </div>
    </div><br><hr>

    	<p><a href="" class="button button-block button-balanced" onclick="validateLogin()">Confirm Booking</a></p>
        
      </ion-content>
</ion-nav-view>