 <ion-nav-view view-title="Booking History">

      <ion-content class="padding">
        <div>
        <div class="h1"><br><br></div>
      <label class="item item-input">
      <span class="input-label">Employee name</span>
      <input type="text" value="" ng-model="employee.name">
      </label>
        <label class="item item-input">
      <span class="input-label">Employee ID</span>
      <input type="text" value="">
      </label>
    <label class="item item-input">
    <span class="input-label">Meeting name</span>
    <input type="text" value="">
    </label>
    <label class="item item-input">
    <span class="input-label">Project name</span>
    <input type="text" value="">
    </label>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Location
        </div>
        <select>
          <option>Select location</option>
          <option>Chennai - 13th floor</option>
          <option >Chennai - 4th floor</option>
          <option>Banglore EC office</option>
          <option>Banglore ETV office</option>
        </select>
      </label>
    <label class="item item-input">
    <span class="input-label">Date</span>
    <input type="date" value="">
    </label>
    <label class="item item-input">
    <span class="input-label">Time</span>
    <input type="time" value="">
    </label>
    </div><br><br>
      <a href="" class="button button-balanced customBn" onclick="validateRequest()">Submit</a>
      <a href="" class="button button-assertive customBn" onclick="resetDetails()">Reset</a>
      </div>
      </ion-content>
    </ion-nav-view>
