<link href="css/style.css" rel="stylesheet">
<ion-nav-view view-title="Pending Request" class="background" >
      <ion-content>
      	<br><br><br>
      	<div class="card">
          <div class="transBn">
      		  <div class="item item-text-wrap pendingReq" ng-repeat="pendingRequest in pendingRequests track by $index">
            <p class="borderLbl">
             <button class="transBn" onclick="editBooking()">
      		  <div class="row">
              <div class="col-25 meetingDate">
                <h1 align="center"  style="color:#2f4f4f;">{{pendingRequest.date | date : 'dd'}}</h1>
                {{pendingRequest.date | date: 'MMM'}}&nbsp-
                {{pendingRequest.date | date: 'yyyy'}}
              </div>
              <div class="divider">
                <label hidden>Divider line</label>
              </div>
              <div class="meetingDetails">
                <h2 align="center" style="color:#2f4f4f;">{{pendingRequest.meetingName}}&nbsp-&nbsp{{pendingRequest.projName}}</h2>
               <!--  <p class="hDivider" style="color: #6F90FF;">Horizontal divider</p> -->
                <p align="center" style="color:#2f4f4f;"><b>{{pendingRequest.from | date: 'hh:mm'}}&nbsp-&nbsp{{pendingRequest.to | date: 'hh:mm'}}</b></p>
                <p align="center" style="color:#2f4f4f;">Pending</p>
              </div>
            </div>
            </button>
            </p>
      		</div>
        </div>
		  </div>
      <h2 align="center" style="color:red";>{{pendingRequestStatus}}</h2>
      </ion-content>
</ion-nav-view>