 <ion-nav-view view-title="Select Loc" class="background">
      <ion-content class="padding"><br><br><br>
      <p class="selectLn">Select location</p>
      <hr style="height:1px;border:none;color:#333;background-color:#ffffff;" />
      <br><br>
       <div class="row">

         <div class="col">
         <button class="buttonStyle"><img src="/img/Chennai13th.jpg" class="dimension" value="Chennai 13th floor" ng-click="loadChennai13()" ng-model="loc.Chen13">Chennai 13thFL</button>
         </div>
          <div class="col">
          <button class="buttonStyle"><img src="/img/Chennai4th.jpg" class="dimension" value="Chennai 4th floor" ng-click="loadChennai4()">Chennai 4thFL</button>
         </div>
       </div>
        <div class="row ">
          <div class="col">
         <button class="buttonStyle"><img src="/img/bangEC.jpg" class="dimension" value="Bangalore EC" ng-click="loadBangEC()">Banglore EC</button>
         </div>
          <div class="col">
         <button class="buttonStyle"><img src="/img/bangETV.jpg" class="dimension" value="Bangalore ETV" ng-click="loadBangETV()">Banglore ETV</button>
         </div>
       </div>
      </ion-content>
    </ion-nav-view>
