/* Empty. Add your own CSS if you like */
.bookImage {
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
	width: 20px
}
.customBn {
	float: center;
	margin-left: 10%;
	width: 35%;
}
.employeeImg {
	height: 20px;
}
.pendingReq {
	background-color: #fef014;
}
.bookingHistory {
	background-color: #61c561;
}
.navAlign {
	text-align: center;
}
