/* Empty. Add your own CSS if you like */
.bookImage {
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
	width: 20px
}
.customBn {
	float: center;
	margin-left: 10%;
	width: 35%;
}
.employeeImg {
	height: 20px;
}
.pendingReq {
	background-color: #FFFF66;
	border: 1px solid #00ffffff;
	border-radius: 5px; 
}
.bookingHistory {
	background-color: #61c561;
}
.navAlign {
	text-align: center;
}
.meetingDate {
	float: left;
	width: 20%;
	height: 100%;
	color:#2f4f4f;
}
.timeStyle {
	float: left;
	width: 10%;
}
.divider {
	margin-left: 3%;
	width: 1px;
	background-color: #2f4f4f;
	color: #fef014;
	font-size: 0.01;
}

.meetingDetails {
	width: 75%;
}
.transBn {
	width: 100%;
	height: 100%;
	background-color: #FFFF66;
	border: 2px #FFFFFF;
	border-radius: 5px; 
}
.transBnApp {
	width: 100%;
	height: 100%;
	background-color: #A3CE88;
	border: 2px #FFFFFF;
	border-radius: 5px; 
}
.transBnDeny {
	width: 100%;
	height: 100%;
	background-color: #EA7E71;
	border: 2px #FFFFFF;
	border-radius: 5px; 
}
.borderLbl {
	width: 100%;
	height: 100%;
	border: 1px solid #2f4f4f;
	border-radius: 5px; 
}
.hallDesc {
	background-color: red;
}
.hallDim {
	float: center;
	width: 16%;
}
.hallDim1 {
	float: right;
	margin-left: 80%;
	height: 15%;
}
.popup{
	
	width: 90% !important;
	height: 80%;
}

#holder{    
height:270px;    
width:93%;
background-color:#FFFFFF;
border:0.5px solid #A4A4A4;
border-radius: 5px; 
margin-left:10px;   
}
#img {

position:relative;
margin:7px;
}
#place a{
font-size:0.6em;
}
#img li
{
 
 list-style: none outside none;
 position: absolute;   
}    
#place li:hover
{
background-color:yellow;      
} 
#img .seat{
background:url("/img/unselectedSeat.png") no-repeat scroll 0 0 transparent;
height:33px;
width:33px;
display:block;   
}
#img .selectedSeat
{ 
background-image:url("/img/selectedSeats.png");          
}
#img .selectingSeat
{ 
background-image:url("/img/selecting.png");        
}
#place .row-3, #place .row-4{
margin-top:10px;
}
#seatDescription li{
verticle-align:middle;    
list-style: none outside none;
padding-left:35px;
height:35px;
float:left;
}
